.product img{
    height: 100px;
    width: 160px;
    
}
.product{
    margin:20px;
    background:rgb(234, 244, 254);
    padding:30px;
    border-radius: 15px;
}
.product:hover{
    transform: scale(1.1);
    transition: transform .5s;
    background:rgb(234, 248, 254);
}
button{
    cursor: pointer;
}